<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/site.css}" rel="stylesheet">
</head>
<body>
    <table>
        <tr>
            <th>Room</th>
            <th>Name</th>
            <th>Bed Info</th>
        </tr>

        <tr th:each="room:${rooms}">
            <td th:text="${room.number}">Room</td>
            <td th:text="${room.name}">Room</td>
            <td th:text="${room.info}">Room</td>
        </tr>
    </table>
</body>
</html>